{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}

{% block content %}

<div class="row">
    <div class="column leftcol">
        <div class="leftcolbg"></div>
        <h1>Welcome!</h1>
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="flash-message" class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
                <div class="invalid-feedback">
                    Please enter your username.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="password-wrapper">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                    <i class="fas fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                </div>
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
            <div class="mb-3 form-button">
                <button type="submit" id="loginBtn" class="btn btn-primary button-login">Login</button>
            </div>
            <p class="register-hyperlink">Don't have an account? <a href="/register">Sign Up</a></p>
        </form>
    </div>
    <div class="column rightcol"></div>
</div>

<script>
    // JavaScript to enable Bootstrap validation styling
    (function() {
        'use strict';

        var forms = document.querySelectorAll('form');

        Array.prototype.slice.call(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();

    // Hide the flash message after 3 seconds
    setTimeout(function() {
        const flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';
        }
    }, 3000);  // 3000 ms = 3 seconds

    // Password Toggle
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
        // Toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        
        // Toggle the icon
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });

    const loginBtn = document.querySelector('#loginBtn');
    loginBtn.addEventListener('click', function() {
        const toggleIcon = document.getElementById('togglePassword');
        toggleIcon.style.display = 'none';
    });

</script>
{% endblock %}
