body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
}

.navbar {
    background-color: transparent !important;
}

.container-fluid{
    margin-top: 0;
}

.container {
    flex-grow: 1;
    max-width: 100%;
    padding: 0 !important;
    display: flex;
}

.row {
    display: flex;
    height: 100vh;
    margin-top: -3.5rem;
}

.column {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightcol {
    display: block;
    flex:33%;
    background-image: url(../images/pexels-anntarazevich-7904469.jpg);
    background-size: cover;
    background-repeat: none;
}

.leftcol {
    display: block;
    flex: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s ease-in;
}

.form-control {
    width: 320px;
}

.form-button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 24px;
}
  
.button-login {
    width: 100%;
}

.register-hyperlink {
    width: 100%;
    text-align: center;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.password-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 40px;
    }
    
    .rightcol {
        display: none;
    }

    .leftcol {
        flex: 100%;
        transition: .5s ease-in;
    }

    .leftcolbg {
        width: 100%;
        height: 100%; 
        position: absolute;
        opacity: 0.4;
        z-index: -1;
        background-image: url(../images/pexels-anntarazevich-7904469.jpg);
        background-size: cover;
        background-repeat: none;
    }
}